<%- include('inc/banniere.ejs'); -%>
<%- include('inc/menu.ejs'); -%>
            <main>
                <h1>Merci pour votre message</h1>


                
            </main>
        </div>
    </body>
</html>